#app {
  background: $brand-color;
  @include real-vh-height(100);
  display: grid;
  grid-template-rows: 100rem 1fr 100rem;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header",
    "weather",
    "footer";
}


// TODO: remove from here
.header__title {
  margin: 0;  
}