.aside {
  display: none;

  @include respond-above(sm) {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: v(bg-clr);
    padding: calc(var(--header-pt) + var(--control-h) / 2 - 0.5em) 10rem 40rem;
    transition: box-shadow 1s;

    &__title {
      opacity: 0;
      letter-spacing: 0.8em;
      font-size: 0.95em;
      margin-left: 0.5em;
      transition: opacity 1s;
    }

    &__creator {
      position: fixed;
      top: calc(var(--vh, 1vh) * 100 - 55rem);
      margin: 0 10rem;
      padding: 0.5em 0.9em 0.7em;
      width: 100rem;
      border-radius: 666rem;
      text-align: center;
      letter-spacing: 0.2em;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
        box-shadow: 0 0 0 3rem v(strong-clr);
        opacity: 0;
        transition: opacity 0.5s;
      }

      &:hover::after,
      &:focus::after {
        opacity: 0.1;
      }

    }
  }

}

.active {
  .aside {

    @include respond-above(sm) {
      box-shadow: block-shadow();

      &__title {
        opacity: 1;
      }
    }

  }
}