.aside {

  @include respond-above(sm) {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    padding: 90rem 10rem 40rem;

    &__title {
      opacity: 0;
      letter-spacing: 0.37em;
      margin-left: 0.1em;
      transition: opacity 1s;
    }

    &__creator {
      margin: 0 auto;
      padding: 0.4em 0.8em 0.6em;
      font-family: 'Liu Jian Mao Cao', cursive;
      border: 1px solid transparent;
      border-radius: 666rem;
      text-align: center;
      font-size: 1.2em;
      letter-spacing: 0.1em;
      transition: border 0.5s;

      &:hover,
      &:focus {
        border-color: transparentize($gray-color, 0.8);
      }

    }
  }

}

.active {
  .aside {

    @include respond-above(sm) {
      @include block-shadow;

      &__title {
        opacity: 1;
      }
    }

  }
}