.content {
  @include real-vh-height(100);
  min-height: v(min-height);
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;

  @include respond-above(sm) {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 140px 1fr;
    grid-template-areas: 
      "aside header"
      "aside main";
  }

  @media (min-width: 1200px) {
    padding-right: 65px;
  }
}