.content {
  max-width: 1200px;
  // width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  @include real-vh-height(100);
  min-height: 650rem;

  @include respond-above(sm) {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 140px 1fr;
    grid-template-areas: 
      "aside header"
      "aside main";
  }
}