.header {
  position: relative;

  @include respond-above(sm) {
    @include center;
    padding-top: 75rem;
    grid-area: header;

    &__title {
      position: absolute;
      font-size: 24rem;
      letter-spacing: 1.8em;
      margin-left: 1em;      
      transform: translateY(calc(20vh - 90rem));
      // TODO: check if it's really an in and not an out
      transition: all 0.6s $fast-in;
    }

    &__control {
      transform: translateY(calc(45vh - 75rem));
      transition: transform 0.5s $fast-in;
    }

    @media (max-height: 700px) {
      padding-top: 35rem;

      &__title {    
        transform: translateY(calc(20vh - 50rem));
      }
  
      &__control {
        transform: translateY(calc(45vh - 35rem));
      }
    }
  } 

}

.active {
  .header {

    @include respond-above(sm) {
      &__title {
        transform: translateY(0);
      }
      &__control {
        transform: translateY(0);        
      }
    }

  }
}