.header {
  @include center;
  z-index: 2;
  padding-top: v(header-pt);
  grid-area: header;
  position: relative;

  &__title {
    position: absolute;
    font-size: 20rem;
    letter-spacing: 1.8em;    
    margin: 0 0 0 1em;
    transform: translateY(calc(var(--vh, 1vh) * 24 - var(--header-pt) - var(--control-h) / 2));
    transition: all 0.6s v(my-ease);
  }

  &__control {
    transform: translateY(calc(var(--vh, 1vh) * 50 - var(--header-pt) - var(--control-h) / 2));
    transition: transform 0.5s v(my-ease);
  }

  @include respond-above(sm) {
    &__title {
      font-size: 24rem;
      padding-right: 140rem;
    }
  }
}

@media (max-height: 700px) {
  :root {
    --header-pt: 35rem;
  }
}

.active {
  .header {

    &__title {
      transform: translate(-205rem, 0);
      font-size: 6em;
      font-weight: 100;
      color: v(strong-clr);
      text-shadow: 2rem 0 0 v(bg-clr);

      &-end-letters {
        display: none;
      }

      @include respond-above(sm) {
        opacity: 0;     
        font-size: 20rem; 
      }
    }

    &__control {
      transform: translateY(0); 
    }

  }
}

.active.darkmode {
  .header__title {
    color: v(bg-clr);
    text-shadow: 2rem 0 0 v(strong-clr);
  }
}