.card {
  min-height: 300rem;
  max-width: 180px;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__day {
    font-weight: normal;
    letter-spacing: 0.08em;  
  }

  &__temp {
    font-weight: 300;
    font-size: 80rem;
    padding: 36rem 0 5rem 21rem;
    line-height: 0.8em;
  }

  &__weather {
    @include center;
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 26rem;

    &-icon {
      font-size: 2em;
    }

    &-status {
      text-transform: capitalize;
      padding-right: 1.9em;
    }
  }
}

.side {
  .card__info {
    display: none;
  }
}