.clouds {
  &__value {
    position: relative;
    padding-top: 1.2em;
    font-size: 1.5em;

    &::after {
      display: block;
      font-family: 'icomoon';
      content: "\e911";
      color: v(second-brand-color);
      position: absolute;
      top: -9rem;
      right: 0;
      left: -2rem;
      font-size: 4.5em;
    }
  }
}