.control {
  
  @include respond-above(sm) {
    position: relative;
    display: flex;
    font-size: 1.3em;
    margin-left: -37rem;
    
    &__search {
      letter-spacing: 0.05em;
      width: 360rem;
      padding: 1.2em 3.2em;
      border: 1rem solid v-get(gray-color);
      border-radius: 666rem;
      transition: box-shadow 0.5s;
      
      &-icon {
        @include center;
        pointer-events: none;
        font-family: 'icomoon';
        content: "\e900";
        position: absolute;
        height: 100%;
        margin-left: 0.5em;
        font-size: 1.8em;
      }
    }

    &__light {
      @include center;
      width: 54.5rem;
      margin-left: 40rem;
      position: relative;
      background: #fff;
      border: 1rem solid v(gray-color);
      border-radius: 50%;
      transition: box-shadow 0.5s;
      cursor: pointer;

      &-checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      &-icon {
        font-size: 2.8em;
        margin-bottom: 3rem;
      }
    }
  } 

}

.active {
  .control {

    @include respond-above(sm) {
      &__search {
        border: none;
        @include block-shadow;
      } 

      &__light {
        border: none;
        @include block-shadow;
      }
    }

  }
}