.control {
  
  @include respond-above(sm) {
    position: relative;
    display: flex;
    font-size: 1.3em;
    margin-left: -37rem;
    
    &__search {
      width: 360rem;
    }

    &__dark-mode {
      @include center;
      width: 54.5rem;
      margin-left: 40rem;
      position: relative;
      background: v(bg-clr);
      border: 1rem solid v(strong-clr);
      color: v(strong-clr);
      border-radius: 50%;
      transition: box-shadow 0.5s;

      &:hover,
      &:focus {
        box-shadow: shadow-border();
      }

      &-icon {
        font-size: 2.8em;
        margin-bottom: 1rem;
        margin-right: 1rem;
      }
    }
  } 

}

.active {
  .control {

    @include respond-above(sm) {
      &__dark-mode {
        border: none;
        box-shadow: block-shadow();

        &:hover,
        &:focus {
          box-shadow: shadow-border(strong-clr, bg-clr), block-shadow();
        }
      }
    }

  }
}