.search {
  position: relative;

  &__input {
    height: v(control-h);
    padding: 1.2em 3.2em;
    width: 100%;
    border: 1rem solid v(strong-clr);
    border-radius: calc(var(--control-h) / 2);
    color: v(strong-clr);
    background: v(bg-clr);
    letter-spacing: 0.05em;
    
    &::placeholder {
      color: v(strong-clr);
      opacity: 0.6;
    }

    &:hover ~ .search__autocomplete,
    &:focus ~ .search__autocomplete {
      box-shadow: shadow-border();
    }
  }

  &__icon {
    @include center;
    pointer-events: none;
    font-family: 'icomoon';
    content: "\e900";
    position: absolute;
    height: 100%;
    margin-left: 0.5em;
    font-size: 1.8em;
  }

  &__autocomplete {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: v(control-h);
    z-index: -1;
    border-radius: calc(var(--control-h) / 2);  
    transition: all 0.5s v(my-ease);  
    overflow: hidden;
    padding-top: 0;

    &-prediction {
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      font-weight: 300;
      font-size: 0.85em;
      padding: 1.2em 2em 1.2em 48rem;

      &::before {
        position: absolute;
        font-family: 'icomoon';
        content: "\e903";
        display: block;
        left: 1em;
        top: 0.75em;
        font-size: 1.4em;
        transition: transform 0.2s;
      }

      &:hover::before,
      &:focus::before {
        transform: scale(1.2);
      }
    }

    &-separator {
      margin: 0 20rem;
      height: 1.6rem;
      border-radius: 50%;
      background: v(strong-clr);
    }
  }
}

.active {
  .search {
    &__autocomplete {
      box-shadow: block-shadow();
    }
    
    &__input:hover ~ .search__autocomplete {
      box-shadow: shadow-border(strong-clr, bg-clr), block-shadow();
    }

    &__input {
      border: none;
    }
  }
}

.active-autocomplete {
  box-shadow: shadow-border();
  padding-top: calc(var(--control-h) + 3rem);
  padding-bottom: 3rem;
  height: auto;
  background: v(bg-clr);
}