.snatches {
  position: relative;
  border-top: 1px solid v(brand-color);
  border-bottom: 1px solid v(brand-color);
  pointer-events: none;
  
  &::after {
    @extend %pseudo;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, transparent 20%, transparent 80%, rgba(255,255,255,1) 100%);
  }

  &__bar {
    display: flex;
    overflow-x: scroll;
    margin: 0 1rem;
    pointer-events: auto;

    &::-webkit-scrollbar{
      height: 0;
      width: 0;
      background: #fff;
    }
  }

  &__item {
    padding: 6rem 7rem;
    line-height: 0.92em;
  }

  &__time {
    font-size: 0.8em;
  }

  &__icon {
    font-size: 2.2em;
  }

  &__temp {
    padding-left: 0.3em;
  }
}