.weather {

  @include respond-above(sm) {
    display: none;
  }

}

.active {
  .weather {

    @include respond-above(sm) {
      @include block-shadow;
      padding: 5rem 3rem;
      display: flex;
      flex-basis: 2rem;
      background: #fff;
      color: $brand-color;
      margin: auto;
      border-radius: 40rem;

      &__separator {
        min-width: 0;
        margin: 20rem 0;
        width: 2.2rem;
        border-radius: 50%;
        background: $brand-color;
      }
    }

  }
}