.wind {
  position: relative;
  margin-top: 2rem;

  &__speed {
      position: absolute;
      font-size: 4em;
      font-weight: bold;
      top: 1rem;
      left: 13rem;

    &-measure {
      position: absolute;
      font-weight: normal;
      font-size: 14.5rem;
      transform-origin: 12% 78%;
      transform: rotate(90deg);
    }
  }

  &__icon {
    padding: 1em;
    padding-bottom: 0;
  }

  &__direction {
    margin-top: -5rem;
    font-weight: 300;
    font-size: 1.25em;
  }
}