// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Regular font family
/// @type List
$text-font-stack: 'Roboto', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



/// Base font size
/// @type Number
$base-font-size: 16rem;



/// Text color
/// @type Color
$text-color: rgb(21, 21, 21) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(29, 67, 113) !default;

/// Main brand color
/// @type Color
$second-brand-color: rgb(35, 170, 226) !default;

/// Main brand color
/// @type Color
$gray-color: rgb(21, 21, 21) !default;



/// Container's minimum width
/// @type Length
$min-width: 320px !default;



/// Fast start, slow finish - animation flow
$fast-in: cubic-bezier(0.2, 0.9, 0, 1);